{% extends '_base.html' %}

{% block page_title %}
Visitor List
{% endblock page_title %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <p{% if message.tags %} class="alert alert-info" {% endif %}>{{ message }}</p>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="col-9">
            {% for visitor in visitors_list %}
            {% if visitor.check_out == False %} <div class="card shadow-sm my-3">
                <div class="card-body">
                    <h5 class="card-title">{{ visitor.name }} {{ visitor.family }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted small py-2">Check-in: {{ visitor.datetime_checkin }}
                    </h6>
                    <a href="{% url 'visitor_update' visitor.id %}" class="btn btn-sm btn-success">Check Out</a>

                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-3">

            <div class="card my-4">
                <h5 class="card-header">Glory Global Solution</h5>
                <div class="card-body">
                    <p class="card-text">Confidence Enabled</p>
                    <a href="#" class="btn btn-sm btn-secondary">
                        More...
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}