{% extends '_base.html' %} {% block page_title %} visitor Detail 
{% endblock page_title %} {% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-9">
      <div class="card shadow my-3 p-5">
        <h3>{{ visitor.name }} {{ visitor.family }}</h3>
        <p class="mt-2"></p>
        <div>
          <a
            href="{% url 'visitor_update' visitor.id %}"
            class="btn btn-sm btn-info"
            >Check-Out</a
          >
          {% if user.is_authenticated %}
          <a
            href="{% url 'visitor_delete' visitor.id %}"
            class="btn btn-sm btn-danger"
            >Delete</a
          >
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card my-4">
        <h5 class="card-header">Company Name</h5>
        <div class="card-body">
          <p class="card-text">Confidence Empowered</p>
          <a href="#" class="btn btn-sm btn-secondary"> More... </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
